body {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.wrapper {
     background: #FFE4C4;
}

.menu{
   width: 1200px; 
   height: 50px; 
   margin: 0 auto; 
   background-image: url(backgr-local-grey.jpg); 
   text-align: center; 
}
.menu span{
   list-style: none; 
   display: inline-block;
}
.menu span a{
   text-decoration: none; 
   font-family: 'Indie Flower', cursive;
   font-size: 30px;
   display: block; 
   padding: 10px 20px; 
   color: #FFE4C4; 
}
.menu span a:hover {
 color: #A52A2A;
}

.title {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    margin: 20px 0;
    text-align: center;
    color:    #A52A2A;
    height: 150px;
}
.ocupation {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: #FFE4C4;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-image: url(backgr-local-grey.jpg);
}
 
.carousel-inner {
    width: 1200px;
    margin: 0 auto;
}
.item {
    width: 800px;
    margin: 0 auto;
}


.services {
    margin: 20px 0;
}

.services p {
   text-align: center;
   font-family: 'Patrick Hand', cursive;
    font-weight: 250; 
    font-size: 20px;
    padding: 15px;
}
.title-servis {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: #A52A2A;
}
footer {
    background-image: url(backgr-local-grey.jpg);
    height: 100px;
    margin-bottom: 0;
}
.phone-social-link {
    text-align: center;
    padding: 10px 0;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    color: #FFE4C4;
}
.phone-social-link span {
  padding-left: 60px;  
}
