body {
    max-width: 1200px;
    margin: 0 auto;
    
}
.wrapper {
     background: #FFE4C4;
}

.menu{
   width: 1200px; /* ширина обертки меню */
   height: 50px; /* высота */
   margin: 0 auto; /* центрирование обертки! меню */
   background-image: url(backgr-local-grey.jpg); /* цвет фона */
   text-align: center; /* центрируем содержимое */
}
.menu span{
   list-style: none; /* убираем маркеры */
   display: inline-block; /* вместо float: left; */
}
.menu span a{
   text-decoration: none; /* убираем подчеркивание ссылки */
   font-family: 'Indie Flower', cursive;
   font-size: 30px;
   display: block; /* делаем ссылки блочными */
   padding: 10px 20px; /* отступы */
   color: #FFE4C4; /* цвет ссылок */
}
.menu span a:hover {
 color: #A52A2A;
}

.title h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    color:    #A52A2A;
    height: 150px;
}
.ocupation {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: #FFE4C4;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-image: url(backgr-local-grey.jpg);
}
 
 
 